<h1>Register</h1>

<div>
  This is step one (of three) of the registration. We ask for your name, and for a way to get back to you, so we can do some simple identity check.
  For that, you may give us an email address or a phone number, and we will send you a verification code in return.
</div>

<div [formGroup]="registrationForm">

<div>
  <label>First Name:</label>
  <input formControlName="firstName" placeholder="first name" required/>
</div>

<div>
  <label>Last Name:</label>
  <input formControlName="lastName" placeholder="last name" required/>
</div>

<div>
  <label>Verification Method:</label>
  <select formControlName="verificationMean" (change)="recheck()" required>
    <option [ngValue]="verificationMean"  *ngFor="let verificationMean of verificationMeans">{{ verificationMean.type }}</option>
  </select>
</div>

<div *ngIf="registrationForm.value.verificationMean?.type == 'email'" formGroupName="byEmail">
  <label>Email Address:</label>
  <input formControlName="emailAddress" placeholder="email@address.com"/>
</div>

<div *ngIf="registrationForm.value.verificationMean?.type == 'sms'" formGroupName="bySms">
  <label>SMS Phone Number:</label>
  <input formControlName="phoneNumber" placeholder="+41 44 444 44 44"/>
</div>

<button [disabled]="!registrationForm.valid" (click)="submit()">
  Submit
</button>

</div>
