<h1 i18n="heading|Login">Login</h1>

<div [formGroup]="loginForm">

    <div>
        <label i18n="label|Username">Username:</label>
        <input formControlName="username" placeholder="username" required/>
    </div>

    <div>
        <label i18n="label|Password">Password:</label>
        <input formControlName="password" placeholder="password" type="password" required/>
    </div>

    <button [disabled]="!loginForm.valid" (click)="submit()" i18n="button|Submit">
        Submit
    </button>

</div>
