div.login-form {

    display: flex;
    flex-direction: column;
    align-items: center;

    div.login-field {

        margin: 4px;

        label {
            display: inline-block;
            min-width: 7em;
        }

        input {
            display: inline-block;
            min-width: 8em;
        }
    }

    button {
        padding: 4px 24px 4px 24px;
        margin: 16px;
    }
}
