<div class="jback-page">

  <div class="jback-header">

    <div class="jback-role">
      Perspective
      <div class="jback-role-menu">
        <app-role-actions></app-role-actions>
      </div>
    </div>

    <div class="jback-login">
      Login
      <div class="jback-login-menu">
        <app-login-actions></app-login-actions>
      </div>
    </div>

  </div>

  <div class="jback-content">
    <router-outlet></router-outlet>
  </div>

  <div class="jback-footer">
    JBack 2020. Visit <a href="https://github.com/blaulaub/jback">https://github.com/blaulaub/jback</a> for more.
  </div>

</div>
