<h1>Welcome!</h1>

This is the front page of JBack.

<div *ngIf="userIsGuest()">
    As visitor to this page you can do the following:

    <ul>
        <li><a routerLink="/browseClubs">Browse Clubs</a></li>
        <li><a routerLink="/register">Register</a> to get a user account. Becoming a registered user allows you to use advanced features of this site.</li>
        <li><a routerLink="/login">Login</a> with your username and password</li>
    </ul>
</div>

<div *ngIf="userIsEnrolling()">
    We have received a valid confirmation code from you, but you are not fully enrolled yet. You can <li><a routerLink="/createMe">complete enrollement here</a>.
</div>

<div *ngIf="userIsMember()">
    As registered user, you can do the following:

    <ul>
        <li>Show and edit <a routerLink="/person/{{userId}}">data about yourself</a></li>
        <li><a routerLink="/browseClubs">Browse Clubs</a></li>
        <li><a routerLink="/createClub">Create club</a> to create a club.</li>
        <li><a [routerLink]="" (click)="logout()">Logout</a></li>
    </ul>
</div>
