div.front-page-common-actions {

    margin: 8px;
    padding: 8px;

    a {

        display: block;
        height: 80px;
        width: 240px;

        color: white;
        background-color: red;

        border-radius: 25px;
        padding: 20px;

        text-decoration: inherit;
        font-weight: bold;
    }

    a.dojo-background {
        background-image: url('/assets/pixabay/autumnal-leaves-temple-tatami-mats-2141946-640.jpg');
        background-size: cover;
        background-position: bottom;
    }
}