<h1>Finish Registration</h1>

<div>
  This is step three (the final step) of the registration, where you can fill in additional user details.
</div>

<div [formGroup]="personForm">

<h2>Personal Details</h2>

<div>
  <label>First Name:</label>
  <input formControlName="firstName" placeholder="first name" required/>
</div>

<div>
  <label>Last Name:</label>
  <input formControlName="lastName" placeholder="last name" required/>
</div>

<div formArrayName="address">
  <div *ngFor="let line of address.controls; let i = index">
    <label>Address Line {{ i }}:</label>
    <input formControlName="{{i}}" placeholder="address line {{ i }}" required/>
    <label *ngIf="address.controls.length > 1" (click)="removeLine(i)">(remove line)</label>
  </div>
  <label (click)="addLine()">(add line)</label>
</div>

<h2>Login Details</h2>

<div>
  <label>Username:</label>
  <input formControlName="username" placeholder="username" required/>
  <span>(at least 3 characters)</span>
</div>

<div>
  <label>Password:</label>
  <input formControlName="password" placeholder="password" type="password" required/>
  <span>(at least 8 characters)</span>
</div>

<div>
  <label>Confirm Password:</label>
  <input formControlName="confirm" placeholder="confirm" type="password" required/>
  <span>(at least 8 characters)</span>
</div>

<button [disabled]="!personForm.valid" (click)="submit()">
  Submit
</button>

</div>
