<div>
    <label>Search Club:</label>
    <input [(ngModel)]="searchTerm" placeholder="search..." (ngModelChange)="updateSearch($event)">
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody *ngIf="matchingClubsCount() > 0">
            <tr *ngFor="let club of matchingClubs">                
                <td><a routerLink="/club/{{club.id}}">{{club.name}}</a></td>
                <td>{{club.url}}</td>
            </tr>
        </tbody>
        <tbody *ngIf="matchingClubsCount() == 0">
            <tr>
                <td colspan="2" style="text-align:center"><i>no clubs found</i></td>    
            </tr>
        </tbody>
    </table>
</div>