html {
    height: 100%;  // give full vertical height to the body
}

body {
    height: 100%;  // give full vertical height to all content
    margin: 0;  // disable any default margin
    font: 100% Helvetica, sans-serif;
}
