html {
    height: 100%;  // give full vertical height to the body
}

body {
    height: 100%;  // give full vertical height to all content
    margin: 0;  // disable any default margin
    font: 100% Helvetica, sans-serif;
}

div.jback-page {

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;  // fill the browser window height (use the space provided by parent)

    div.jback-header {

        order: 1;

        color: white;
        background-color: red;

        display: flex;
        flex-direction: row;
        width: 100%;  // it will fully cover horizontal space
        flex-wrap: wrap;

        align-items: center;  // cross-(vertical-)align children regardless of margin

        div.jback-role {

            order: 1;
            flex: 1;  // it will take up all remaining space until next element

            margin: 8px;
        }

        div.jback-login {

            order: 2;

            margin: 8px;
        }
    }

    div.jback-content {

        order: 2;  // after jback-header
        flex: 1;  // fill vertical space

        overflow: auto;
    }

    div.jback-footer {

        order: 3;  // after jback-content

        width: 80%;

        color: #606060;
        font-style: italic;

        text-align: center;

        margin-top: 8px;
        margin-bottom: 2px;

    }
}
